<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Knockout Autocomplete</title>
    <link href="~/Content/ko.binding.style.css" rel="stylesheet" />
</head>
<body>
    <section>
        @RenderBody()
    </section>
    <script src="~/Scripts/jquery-2.0.3.min.js"></script>
    <script src="~/Scripts/knockout-2.3.0.js"></script>
    <script src="~/Scripts/knockout-2.3.0.debug.js"></script>
    <script src="~/Scripts/ko.autocomplete.js"></script>

    @RenderSection("javascript")
</body>
</html>
